@using ExploreObjects.DTO
@model AndrewSMoroz.ViewModels.ExploreViewModels.SetupViewModel

@{
    ViewData["Title"] = "Explore Setup";
}

<form asp-action="Setup">
    <div>
        <h4>Choose Map to Explore</h4>
        <div style="margin-top: 20px;">
            @{
                foreach (Map map in Model.Maps)
                {
                    bool isChecked = map.Id == Model.MapID;
                    <input id="@map.Id" type="radio" name="MapID" value="@map.Id" checked="@isChecked"> <label for="@map.Id" style="font-weight: normal;">@map.Name</label><br />
                }
            }
        </div>
        <div style="margin-top: 20px;">
            <input type="submit" value="Begin Session" />
        </div>
    </div>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <br />
    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    </script>

}
