@using ExploreObjects.DTO
@model AndrewSMoroz.ViewModels.ExploreViewModels.SetupViewModel

@{
    ViewData["Title"] = "Explore Setup";
}

<form asp-action="Setup">
    <div>
        <h4>Choose Map to Explore</h4>
            <div style="margin-top: 20px;">
                @{
                    int i = 0;
                    foreach (SelectListItem item in ViewBag.MapList)
                    {
                        i++;
                        bool isChecked = i == 1;
                        <input id="@item.Value" type="radio" name="MapID" value="@item.Value" checked="@isChecked"> <label for="@item.Value" style="font-weight: normal;">@item.Text</label><br />
                    }
                }
            </div>
            <div style="margin-top: 20px;">
                <input type="submit" value="Begin Session" />
            </div>
    </div>
</form>

@if (ViewBag.ErrorMessage != null)
{
    <br />
    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>
}

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    </script>

}
